.heading {
    width: 80%;
    font-size: 22px;
}

body {
   color: white;
   background: linear-gradient(#1854ed 0%, #7b03fc 100%);
}

.name_of_object, #result_object_name, #result_object_accuracy {
    color: greenyellow;

}

#camera {
    border: 2px dashed white;
    width: 350px;
    height: 300px; 
}

